<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username, class:"block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :username , class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"%>
  </div>

  <div>
    <%= form.label :email, class:"block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div>
    <%= form.label :role, class:"block text-gray-700 text-sm font-bold mb-2"%>
    <%= form.text_field :role , class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"%>
  </div>

  <div>
    <%= form.label :critics_count, style: "display: block" %>
    <%= form.number_field :critics_count %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
