<p style="color: green"><%= notice %></p>
<div class="container mx-auto pt-5">
<h1>Games</h1>
 <%= link_to 'New game', new_game_path %>
 <hr>
 <br>

<div id="games" >
  <% @games.each do |game| %>
          <div class="max-w-3xl mx-auto mt-16 text-center rounded overflow-hidden shadow-lg p-10">
            <div>
               <%if game.image.attached?%>
               <div>
                  <%= image_tag game.image%>
               </div>
               <%end%>
            </div>
            <h3><%= game.name %></h3>
            <div>
               <%if game.release_date%>
               <div>
                  <%= game.release_date.year %>
               </div>
               <%end%>
            </div>
            <p><%= game.rating %></p>
            <p><%= game.summary %></p>
            <%= link_to 'Show', game %>
            <%= link_to 'Edit', edit_game_path(game) %>
            <%= link_to 'Destroy', game, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          </div>
           <br>
        <% end %>

</div>
</div>