<p style="color: green"><%= notice %></p>

<div>
  <%if @game.image.attached?%>
  <div>
     <%= image_tag @game.image%>
  </div>
  <%end%>
</div>
<h3><%= @game.name %></h3>
<div>
   <%if @game.release_date%>
   <div>
      <%= @game.release_date.year %>
   </div>
   <%end%>
</div>
<p><%= @game.rating %></p>
<p><%= @game.summary %></p>
<div>
   <%if @game.genres%>
   <div>
      <p>Genres:<% @game.genres.each do |genre| %>
      <div>
       <%= button_to  genre_path(genre), method: :delete do %> 
       <%= image_tag "delete_icon.png", alt: "Delete Genre" %>
       <%= genre.name %>
       <% end %>
      </div>
      </p>
      <%end%>
   </div>
   <%end%>
</div>
<div>
   <%if @game.platforms%>
   <div>
      <p>Platforms:<% @game.platforms.each do |platform| %>
      <div>
       <%= button_to  platform_path(platform), method: :delete do %> 
       <%= image_tag "delete_icon.png", alt: "Delete Platform" %>
       <%= platform.name %>
       <% end %>
      </div>
      </p>
      <%end%>
   </div>
   <%end%>
</div>
<div>
   <%if @game.companies%>
   <div>
      <p>Developers:<% @game.involved_companies.where(developer: true).each do |company| %>
      <div>
      <%= button_to  company_path(company), method: :delete do %> 
       <%= image_tag "delete_icon.png", alt: "Delete Developer" %>
       <%= Company.all.find(company.company_id).name %>
       <% end %>
      </div>
      </p>
      <%end%>
   </div>
   <%end%>

   <%if @game.companies%>
   <div>
      <p>Publishers:<% @game.involved_companies.where(publisher: true).each do |company| %>
      <div>
      <%= button_to  company_path(company), method: :delete do %> 
       <%= image_tag "delete_icon.png", alt: "Delete Developer" %>
       <%= Company.all.find(company.company_id).name %>
       <% end %>
      </div>
      </p>
      <%end%>
   </div>
   <%end%>
</div>

<h2>Add relations</h2>
<% names = [] %>
<%= form_with(url: genres_path, method: "post") do |form| %>
  <div>
  <% options = Genre.all.each{ |option| names << option[:name] } %>
  <% options_for_select = names.each{ |option| option } %>
    <%= form.select :name, options_for_select([["Select genre", nil]] + options_for_select) %>
    <%= form.hidden_field :game_id, value: @game.id %>
    <%= form.submit "Add genre" %>
  </div>
<% end %>

<%= form_with(url: platforms_path, method: "post") do |form| %>
  <div>
  <% options = Platform.all %>
  <% options_for_select = options.map { |option| option.name } %>
    <%= form.select :name, options_for_select([["Select platform", nil]] + options_for_select) %>
    <%= form.hidden_field :game_id, value: @game.id %>
    <%= form.submit "Add platform" %>
  </div>
<% end %>

<%= form_with(url: companies_path, method: "post") do |form| %>
  <div>
  <% options = Company.all %>
  <% options_for_select = options.map { |option| option.name } %>
  <%= form.hidden_field :company, value: "developer" %>
    <%= form.select :name, options_for_select([["Select company", nil]] + options_for_select) %>
    <%= form.hidden_field :game_id, value: @game.id %>
    <%= form.submit "Add developer" %>
  </div>
<% end %>

<%= form_with(url: companies_path, method: "post") do |form| %>
  <div>
  <% options = Company.all %>
  <% options_for_select = options.map { |option| option.name } %>
  <%= form.hidden_field :company, value: "publisher" %>
    <%= form.select :name, options_for_select([["Select company", nil]] + options_for_select) %>
    <%= form.hidden_field :game_id, value: @game.id %>
    <%= form.submit "Add publisher" %>
  </div>
<% end %>

<br>
<%= form_with(url: game_critics_path(params[:id]), method:"post") do |form| %>
  <div>
    <%= form.text_field :title, placeholder: "Critic title" %>
  </div>

  <div>
    <%= form.text_field :body, placeholder: "Critic body" %>
  </div>

   <div>
    <%= form.submit "Create critic" %>
  </div>
<%end%>

<br>
<div>
   <%if @game.critics%>
   <%@game.critics.each do |critic|%>
   <%= critic.title %></p>
   by <%= critic.user.username %></p>
   <%= critic.body %></p>
   <%# <% reference_time = Time.zone.now - 10.day %>
   <% timestamp = critic.created_at%>
   Send <%= time_ago_in_words(timestamp) %> ago</p>
   <%end%>
   <%end%>
</div>

<div>
  <%= link_to "Back", games_path %>
</div>
