<p style="color: green"><%= notice %></p>

<div>
  <%if @game.image.attached?%>
  <div>
     <%= image_tag @game.image%>
  </div>
  <%end%>
</div>
<h3><%= @game.name %></h3>
<div>
   <%if @game.release_date%>
   <div>
      <%= @game.release_date.year %>
   </div>
   <%end%>
</div>
<p><%= @game.rating %></p>
<p><%= @game.summary %></p>
<div>
   <%if @game.genres%>
   <div>
      <p>Genres:<% @game.genres.each do |genre| %>
      <div>
       <%= genre.name %></p>
       </div>
      <%end%>
   </div>
   <%end%>
</div>
<div>
   <%if @game.platforms%>
   <div>
      <p>Platforms:<% @game.platforms.each do |platform| %>
      <div>
       <%= platform.name %></p>
       </div>
      <%end%>
   </div>
   <%end%>
</div>
<div>
   <%if @game.companies%>
   <div>
      <p>Developers:<% @game.companies.each do |company| %>
      <div>
       <%= company.name %></p>
       </div>
      <%end%>
   </div>
   <%end%>
</div>
<h2>Add relations</h2>

<div>
   <%if @game.critics%>
   <%@game.critics.each do |critic|%>
   <%= critic.title %></p>
   by <%= critic.user.username %></p>
   <%= critic.body %></p>
   <%# <% reference_time = Time.zone.now - 10.day %>
   <% timestamp = critic.created_at%>
   Send <%= time_ago_in_words(timestamp) %> ago</p>
   <%end%>
   <%end%>
</div>

<div>
  <%= link_to "Back", games_path %>
</div>
