<p style="color: green"><%= notice %></p>

<h1>Companies</h1>
<% if current_user.admin? %>
 <%= link_to 'New Company', new_company_path %>
 <% end %>
<div id="games">
  <% @companies.each do |company| %>
  <%= link_to company do%>
          <div>
            <div>
               <%if company.cover.attached?%>
               <div>
                  <%= image_tag company.cover%>
               </div>
               <%end%>
            </div>
            <h3><%= company.name %></h3>
            <div>
               <%if company.start_date %>
               <div>
                  <%= company.start_date.year %>
               </div>
               <%end%>
               <%= company.country %>

            </div>
            <p><%= company.description %></p>
            <p><%= company.games.size %></p>
            
            <% if current_user.admin? %>
            <%= link_to 'Edit', edit_company_path(company) %>
            <%= link_to 'Destroy', company, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        <% end %>
   <%end%>
</div>