<p style="color: green"><%= notice %></p>

<%= render @company %>

<div>
  <%= link_to "Edit this company", edit_company_path(@company) %> |
  <%= link_to "Back to companies", companies_path %>

  <%= button_to "Destroy this company", @company, method: :delete %>
</div>

<div>
   <%if @company.critics%>
   <%@company.critics.each do |critic|%>
   <%= critic.title %></p>
   by <%= critic.user.username %></p>
   <%= critic.body %></p>
   <%# <% reference_time = Time.zone.now - 10.day %>
   <% timestamp = critic.created_at%>
   Send <%= time_ago_in_words(timestamp) %> ago</p>
   <%end%>
   <%end%>
</div>