<!DOCTYPE html>
<html>
  <head>
    <title>CriticsRc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
       <%= image_tag("logo.png", style: "width: 60px;")%>
       <div>
        <%= link_to "Edit User", edit_user_registration_path %>
       </div>
       <div>
        <%= link_to "Games", games_path %>
       </div>
       <div>
        <%= link_to "Companies", companies_path %>
       </div>
    

    </header>
    <% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
   <%# button_to "create account", new_user_path %> 
<% end %>

     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
    <h3>Made with &#9829 by</h3>
    </footer>
  </body>
</html>
